.register__input {
  height: 20px;
  width: 200px;
  background-color: white;
}
input {
  background-color: white;
}

.register__container {
  display: flex;
  flex-direction: column;
  color: #fcfcfc;
  background-color: #333334;
  width: 400px;
  margin: 40px;
  align-items: center;
  border: 1px solid hsl(0, 0%, 27%);
  border-top: 1.5px solid hsl(0, 0%, 27%);
  padding: 10px 0px;
  box-shadow: 10px 5px 5px rgb(249, 248, 158);
  gap: 20px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.register__btn {
  width: 100px;
  height: 25px;
  text-align: center;

  border: 1px solid hsl(0, 0%, 27%);
  border-top: 1.5px solid hsl(0, 0%, 27%);

  box-shadow: 10px 5px 5px rgb(249, 248, 158);

  padding-left: 10px;
  margin-right: 20px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 0px;
}
